@using Infrastructure.Models
@using Domain.Services
@inject IAuthenticationStateProvider authProvider
@{
    Layout = "_Layout";
}
<div class="w-25 ml-auto mr-auto card">
    @using (Html.BeginForm("login", "Account", method: FormMethod.Post, htmlAttributes: new { @class = "card-body" }))
    {
        <div class="form-group">
            <label for="userName">Email</label>
            <input type="text" name="userName" id="userName" class="form-control" placeholder="Enter email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" current-password>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    }
</div>