@model FolderViewModel

@using Fileserver.ViewModels.Home

@{
    Layout = "_Layout";
}
<div class="card">
    <div class="card-header">
        @if (Model.Current != null)
        {
            <h1>@(Model.Current.Name)</h1>
            <small class="text-muted">Created: @Model.Current.Created</small>
        }
        
    </div>
    <div class="card-body">
        Show all subfolders/files
    </div>
</div>
